<!DOCTYPE html>
<html> 
    <head>
        <title>La mia pagina del web</title>
    </head>
    <body>
        <img src="fotos/1042935.jpg" width="30%" height="30%" align="left">
        <img src="fotos/escrito.jpg" width="30%" height="30%" align="left">
        <br>
        <br>
        <h1><center>La prima pagina</center></h1>
        <br>
        <hr>
            <p>Questa è la mia pagina, anche è un molto simple. Como il lingua HTML no è dificile, dopo sta in condizione fare cose molti interesanti.</p>
        <a href="pag2.html">Ricardo Acily</a>
    </body>
</html>
